
/* Sticky footer styles
    -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #222222;
}


/* Custom page CSS
    -------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 60px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}





/********** custom css*/
.header-information {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    line-height: 40px;
}


.icon-state-container {
    overflow: hidden;
    width: 60px;
    height: 40px;
    border: solid 2px #C4C4C4;
    position: relative;
}

.icon-state-base {
    width: 60px;
    height: 40px;
    background-color: #D8D8D8;
}

.icon-state-progress {
    width: 0px;
    height: 40px;
    position: absolute;
    top: 0px;
}


.icon-state-pending {
    background-color: #D8D8D8;
}

.icon-state-running {
    background-color: #5E9CD3;
}

.icon-state-rejected {
    background-color: #BE0712;
}

.icon-state-completed, .icon-state-accepted {
    background-color: #548039;
}


.panel-running {
    border: solid 2px #5E9CD3;
    color: #5E9CD3;
}

.panel-rejected {
    border: solid 2px #CE434B;
    color: #CE434B;
}

.panel-accepted, .panel-completed {
    border: solid 2px #548039;
    color: #548039;
}


.panel-running, .panel-rejected, .panel-accepted, .panel-completed {
    font-weight: bold;
}

.task-detail {
    height: 160px;
    width: auto;
    margin: 0 auto;
    display: none;
}

.chart-container {
    height: 100px;
    width: 100px;
}


.task-detail-title {
    text-align: left;
    padding-left: 7px;
    font-weight: bold;
    color: inherit;
    font-family: "DIN Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: large;
}

.progress-bar-container {
    margin-bottom: 7px;
    padding: 0 7px;
}

span.percent-description {
    display: block;
    font-weight: bold;
    color: #548039;
}



.result > span {
    display: block;
}

.font-mini {
    font-size: 7px;
    line-height: 0;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


.text-center {
    text-align: center;
}

.build-container {
    padding-top: 15px;
    padding-bottom: 12px;
}

.clear {
    clear: both;
}

.pull-center {
    margin: 0 auto;
}

.col-task-info {
    position: relative;
    width: 85px;
    text-align: center;
}

.text-footer {
    font-size: 11px;
    color: #000;
    font-weight: bold;
}


.metric-test-percent {
    position: absolute;
    top: 12px;
    left: 34px;
    color: #fff;
}

.col-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.test-percent {
    display: block;
    font-size: 35px;
    letter-spacing: -6px;
}

.test-description-percent {
    font-size: 12px;
    color: green;
}

.text-percent-padding {
    padding-top: 15px;
}

.title-result-small {
    font-size: 18px;
    color: #000;
}

.title-result-medium-rejected {
    font-size: 17px;
    color: red;
}

.title-result-medium-accepted {
    font-size: 17px;
    color: #FED86E;
}

.title-result-medium-completed {
    font-size: 25px;
    color: green;
}

.btn-result {
    background-color: #5E9CD3;
    border-radius: 0;
    width: 100px;
}




.panel-back-pending {
    /*gradient background color */
    background: #F3F3F3; /* Old browsers */
    background: -moz-linear-gradient(left, #5E9CD3 1%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#F3F3F3), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #F3F3F3 1%,#F3F3F3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #F3F3F3 1%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #F3F3F3 1%,#fff 100%); /* IE10+ */
    background: linear-gradient(to right, #F3F3F3 1%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
}


.panel-back-completed {
    /*gradient background color */
    background: ##E4FFD4; /* Old browsers */
    background: -moz-linear-gradient(left, #5E9CD3 1%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,##E4FFD4), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, ##E4FFD4 1%,##E4FFD4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, ##E4FFD4 1%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, ##E4FFD4 1%,#fff 100%); /* IE10+ */
    background: linear-gradient(to right, ##E4FFD4 1%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##E4FFD4', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
}

.panel-back-running {
    /*gradient background color */
    background: #DFF0FF; /* Old browsers */
    background: -moz-linear-gradient(left, #DFF0FF 1%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#DFF0FF), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #DFF0FF 1%,#DFF0FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #DFF0FF 1%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #DFF0FF 1%,#fff 100%); /* IE10+ */
    background: linear-gradient(to right, #DFF0FF 1%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DFF0FF', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
}

.panel-back-accepted {
    /*gradient background color */
    background: ##E4FFD4; /* Old browsers */
    background: -moz-linear-gradient(left, #5E9CD3 1%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,##E4FFD4), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, ##E4FFD4 1%,##E4FFD4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, ##E4FFD4 1%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, ##E4FFD4 1%,#fff 100%); /* IE10+ */
    background: linear-gradient(to right, ##E4FFD4 1%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##E4FFD4', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
}

.panel-back-rejected {
    /*gradient background color */
    background: #FFEEEF; /* Old browsers */
    background: -moz-linear-gradient(left, #FFEEEF 1%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#FFEEEF), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #FFEEEF 1%,#FFEEEF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #FFEEEF 1%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #FFEEEF 1%,#fff 100%); /* IE10+ */
    background: linear-gradient(to right, #FFEEEF 1%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEEEF', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}






/**************ICONS*/

.sprite {
    background-image: url(/Content/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-build-accepted {
    width: 44px;
    height: 38px;
    background-position: -5px -5px;
}

.sprite-icon-build-completed {
    width: 44px;
    height: 38px;
    background-position: -59px -5px;
}

.sprite-icon-build-pending {
    width: 46px;
    height: 40px;
    background-position: -113px -5px;
}

.sprite-icon-build-running {
    width: 46px;
    height: 40px;
    background-position: -169px -5px;
}

.sprite-icon-down-rejected {
    width: 50px;
    height: 50px;
    background-position: -5px -55px;
}

.sprite-icon-firewall-accepted {
    width: 44px;
    height: 38px;
    background-position: -65px -55px;
}

.sprite-icon-firewall-complete {
    width: 44px;
    height: 38px;
    background-position: -119px -55px;
}

.sprite-icon-firewall-pending {
    width: 44px;
    height: 38px;
    background-position: -173px -55px;
}

.sprite-icon-firewall-rejected {
    width: 44px;
    height: 38px;
    background-position: -65px -103px;
}

.sprite-icon-firewall-running {
    width: 44px;
    height: 38px;
    background-position: -119px -103px;
}

.sprite-icon-right-yellow {
    width: 53px;
    height: 43px;
    background-position: -173px -103px;
}

.sprite-icon-up-completed {
    width: 50px;
    height: 50px;
    background-position: -5px -156px;
}

.sprite-icon-up-pending {
    width: 50px;
    height: 55px;
    background-position: -65px -156px;
}

.sprite-icon-up-rejected {
    width: 50px;
    height: 55px;
    background-position: -125px -156px;
}

.sprite-icon-up-running {
    width: 50px;
    height: 55px;
    background-position: -185px -156px;
}

.sprite-logo-white {
    width: 219px;
    height: 60px;
    background-position: -227px -5px;
}

.sprite-rejected-icon {
    width: 46px;
    height: 40px;
    background-position: -236px -75px;
}

.sprite-running-icon-large {
    width: 69px;
    height: 60px;
    background-position: -292px -75px;
}



/************** Override bootstrasp css*/
.panel-default > .panel-heading {
    color: #6D6A6A;
    background-color: #FFFFFF;
    border-color: #C4C4C4;
    border: solid 2px;
}

.panel-default > .panel-collapse {
    background-color: #FFFFFF;
    border-color: #C4C4C4;
    border: solid 2px;
}

.panel-group {
    margin-bottom: 0px;
}



.panel-pending {
    border: solid 2px #C4C4C4;
    color: #C4C4C4;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}


.progress {
    height: 25px;
    border-radius: 0px;
    background-color: #F6CBAE;
}

.progress-bar {
    background-color: #C6DFB5;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}
